.landing__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 56px;
}

.landing__content {
  margin-bottom: 24px;
}

div.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
