@font-face {
  font-family: "neurimboGothicRegular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/neurimboGothicRegular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.landing_page_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #000b45;
  background-image: url("src/Resource/background-image.png");
  background-size: 130%;
  background-position: 80% 50%;
  padding-top: 24px;
}

.landing_title_image_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
}

.landing_year_image_container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing_year_image {
  width: 30%;
}

.landing_title_image {
  width: 80%;
  z-index: 10;
}

.landing_event_description {
  color: #fff;
  text-align: center;
  font-family: neurimboGothicRegular;
  font-size: 18px;
  font-style: normal;
}

.landing_character_images_container {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.landing_character_image {
  height: 80%;
  object-fit: cover;
}

.landing_select_text {
  color: #fff;
  text-align: center;
  font-family: neurimboGothicRegular;
  font-size: 26px;
  font-style: normal;
}

.landing_buttons_container {
  width: 100%;
  height: 160px;
  position: relative;
  margin-bottom: 10px;
}
