#korea {
    /* Define initial styles for the button */
    background-color: #3498db;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-color: #3498db;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}
  
#korea.animating {
    /* Apply transitions when the button has the 'animating' class */
    transform: scale(1.1); /* Slightly bigger scale during animation */
    transition: transform 0.1s ease-out;
}


#yonsei {
    /* Define initial styles for the button */
    background-color: #3498db;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-color: #3498db;
    border-radius: 5px;
    cursor: pointer;
}
