@font-face {
  font-family: "neurimboGothicRegular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/neurimboGothicRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.result_container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: #000B45;
  border: 1px solid black;
  background-color: #000B45;
}

.result_container.korea {
  background-image: linear-gradient(#7C0415, #9E001600);
}

.result_title {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.result_content {
  margin-bottom: 24px;
}

.result_shareBtn {
  font-size: 16px;
  font-weight: 700;
  color: #171601;
  background-color: #f8e431;
  padding: 16px 24px;
  border-radius: 8px;
}

.result_totalCnt {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80vh;
  height: 5vh;
  background: linear-gradient(90deg, rgba(0, 102, 255, 0.9) 0%, rgba(255, 0, 0, 0.9) 100%);
  border-radius: 40px;
  padding: 20px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

/*  iPhone 12 */
@media (max-width: 375px) {
  .result_totalCnt {
    font-size: 1.2rem;
    width: 35vh;
    height: 4vh;
  }
}

.result_yonseiCnt {
  color: white;
  text-align: left;
}

.result_versus {
  margin-left: auto;
}

.result_koreaCnt {
  color: white;
  margin-left: auto;
}