.result.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 56px;
}

.result__content {
  margin-bottom: 24px;
}

.result__shareBtn {
  font-size: 16px;
  font-weight: 700;
  color: #171601;
  background-color: #f8e431;
  padding: 16px 24px;
  border-radius: 8px;
}
