@font-face {
  font-family: "neurimboGothicRegular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/neurimboGothicRegular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #000b45;
  background-image: url("src/Resource/background-image.png");
  background-size: 130%;
  background-position: 80% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Ȯ��/��� �ִϸ��̼� ȿ�� */
  transition: all 1.5s ease-in-out;
  transform-origin: top center;
  transform: scale(1); /* �ʱ� ũ�� ���� */
}

.page-wrapper.zoomed {
  transform: scale(2); /* Ȯ��� ũ�� ���� */
}

.page-background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  background-image: linear-gradient(
    180deg,
    rgba(30, 50, 155, 0.83) 0%,
    #000b45 100%
  );
  background-size: "cover";
  opacity: 0;
}
.header-container {
  width: 100%;
  height: 160px;
}
.headertext-round {
  color: #fff;
  text-align: center;
  font-family: neurimboGothicRegular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}

.headertext-event {
  color: #fff;
  text-align: center;
  font-family: neurimboGothicRegular;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.result-image-container {
  margin-top: -150px;
  position: absolute;
  width: 100%;
}

.result-image {
  width: 380px;
  height: 380px;
  margin: auto;
  opacity: 0;
}
.result-container {
  margin-top: -95px;
  margin-left: 60px;
  position: absolute;
}
.result-text {
  color: #fff;
  text-align: center;
  font-family: neurimboGothicRegular;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0;
}

.prompt-container {
  margin-top: 18px;
}

.prompt-text {
  color: #fff;
  text-align: center;
  font-family: neurimboGothicRegular;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* ... (���� ��Ÿ��) ... */

.animated-text {
  position: relative;
  display: inline-block;
  overflow: hidden;
  animation: fade-in 0s ease-in-out forwards;
}

.underline-text {
  text-decoration: underline;
}
/* ... (���� ��Ÿ��) ... */

.body-container {
  flex-grow: 1;
  width: 100%;
  display: flex;
  position: relative;
}

.character-image {
  width: 192px;
  height: 264px;
  position: absolute;
  bottom: 50%;
  transform: translate(0, 50%);
}

.tiger-image {
  left: 0;
}

.eagle-image {
  right: 0;
}

.ball-image {
  width: 119px;
  height: 119px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttons-container {
  width: 100%;
  height: 160px;
  position: relative;
  margin-bottom: 10px;
}

.button-container {
  position: absolute;
  z-index: 10;
  top: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.korea.button-container {
  left: 25%;
  transform: translate(-50%, -50%);
}

.yonsei.button-container {
  right: 25%;
  transform: translate(50%, -50%);
}

.univ-button {
  background-color: transparent;
}

.univ-button:active {
  opacity: 60%;
}

.lightning-icon {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
