@font-face {
	font-family: "neurimboGothicRegular";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/neurimboGothicRegular.woff2")
		format("woff2");
	font-weight: normal;
	font-style: normal;
}

.page-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #000b45;
	background-image: url("images/background-image.png");
	background-size: 130%;
	background-position: 80% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
    /* 확대/축소 애니메이션 효과 */
    transition: all 0.3s ease-in-out;
    transform-origin: top center;
    transform: scale(1); /* 초기 크기 설정 */
}

.page-wrapper.zoomed {
    transform: scale(2); /* 확대된 크기 설정 */
}

.headertext-round {
	color: #fff;
	text-align: center;
	font-family: neurimboGothicRegular;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 10px;
}

.headertext-event {
	color: #fff;
	text-align: center;
	font-family: neurimboGothicRegular;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.prompt-container {
	margin-top: 18px;
    
    position: relative;
}

.prompt-text {
	color: #fff;
	text-align: center;
	font-family: neurimboGothicRegular;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

/* ... (기존 스타일) ... */

.animated-text {
	position: relative;
	display: inline-block;
	overflow: hidden;
	animation: fade-in 0s ease-in-out forwards;
}
  

  /* ... (기존 스타일) ... */
  

.body-container {
	flex-grow: 1;
	width: 100%;
	display: flex;
	position: relative;
}

.character-image {
	width: 192px;
	height: 264px;
	position: absolute;
	bottom: 50%;
	transform: translate(0, 50%);
}

.tiger-image {
	left: 0;
}

.eagle-image {
	right: 0;
}

.ball-image {
	width: 119px;
	height: 119px;
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.buttons-container {
	width: 100%;
	height: 160px;
	position: relative;
	margin-bottom: 10px;
}

.button-container {
	position: absolute;
	z-index: 10;
	top: 50%;
	width: 120px;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.korea.button-container {
	left: 25%;
	transform: translate(-50%, -50%);
}

.yonsei.button-container {
	right: 25%;
	transform: translate(50%, -50%);
}

.univ-button {
	background-color: transparent;
}

.univ-button:active {
	opacity: 60%;
}

.lightning-icon {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
}


