.event.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event__title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}

.event__btnRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}


.zoomed {
  transform: scale(3); /* You can adjust the scale value to zoom in further */
  transition: transform 2s ease-in-out;
}

.event__message {
  font-size: 30px; /* You can adjust the font size as per your preference */
}

.event__changed-message {
  font-size: 0.01em; /* Adjust the font size to make the changed part smaller */
}


